---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4><b>Bio</b></h4>
  <p>
    I am currently in the fifth year of my Ph.D. program in the Department of Computer Science at Wayne State University, 
    where I work in the Trustworthy AI lab under the supervision of <a href="https://dongxiaozhu.github.io/" target="_blank"> Dr. Dongxiao Zhu</a>. 
    My research mainly focuses on Trustworthy Artificial Intelligence (AI), Natural Language Processing (NLP), Large Language Models, Medical Image Segmentation, and Foundational Machine Learning. 
    My dedication to these areas has led to the publication of numerous research papers at top AI conferences, including NeurIPS, IJCAI, AAAI, ICML, MICCAI, and IJCNN, among others. 
    In addition to my academic achievements, I gained valuable practical experience through a three-month internship as an Applied Scientist at Amazon. 
    During my internship, I focused on improving the robustness of Large Language Models (LLMs) and proposing novel approaches to mitigate the performance drop of LLMs against prompt perturbations. 
    I have a strong passion for research and a demonstrated ability to apply my knowledge to real-world challenges.
  </p>
</div>

<!-- ========== Skills ========== -->
<div class="docs-section" id="skills">
  <h4><b>Skills</b></h4>
  <p>
    Research:
    <ul>
      <li>Trustworthy AI</li>
      <li>Large Languange Models (LLMs)</li>
      <li>Natural Language Processing (NLP)</li>
      <li>Machine Learning/Deep Learning</li>
      <li>Medical Imaging Segmentation</li>
    </ul>
  </p>

  <p>
    General:
    <ul>
      <li>Tools: SQL, Matlab, Git, Scikit-learn, Amazon Web Services (AWS)</li>
      <li>Programming: Python, R, C++, Java, PyTorch, TensorFlow, PySpark, HuggingFace</li>
      <li>Languages: Mandarin (native), English (business fluent)</li>
    </ul>
  </p>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4><b>Publications</b></h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-all">All</div></li>
    <li><div class="button" data-ref="#papers-selected">Selected</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
      <div>
        <div class="figure">
          <img style="float:left;margin-bottom:20px;margin-right:30px;vertical-align:middle;" src="{{ paper.paper_img }}" width="220" height="110">
        </div>
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="tab-pane active" id="papers-all">
      {% for paper in site.data.publications.papers %}
      <div>
        <div class="figure">
          <img style="float:left;margin-bottom:20px;margin-right:30px;vertical-align:middle;" src="{{ paper.paper_img }}" width="220" height="110">
        </div>
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4><b>Resume/CV</b></h4>
  <p>Full Resume in <a href={{ "/assets/cv/resume_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>
  <p>Full CV in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>
</div>